/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**/
/**/
/**/
/**/
/**/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  height: 100%;
  /*width: 100%;*/
  display: flex;
  flex-direction: column;
}

a.canvasjs-chart-credit {
  display: none !important;
}

strong {
  font-weight: bold;
}

img#ajaxLoader {
  display: none;
  margin: 0 auto;
}

div#noscript {
  font-size: 1.25em;
  color: #fff;
  background-color: maroon;
  padding: 5px;
  text-align: center;
}

input#stockSym, input#submitBtn {
  font-size: 2em;
  outline: none;
  text-align: center;
}

input#submitBtn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
  display: none;
}

input#submitBtn:hover {
  color: #006C23;
}

section#formSection {
  text-align: center;
}

form#getStock {
  width: 100%;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

input#stockSym {
  border: none;
  border-bottom: 2px solid black;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
  font-weight: bold;
  box-sizing: border-box;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;
  font-weight: bold;
}
::-moz-placeholder { /* Firefox 19+ */
  color: black;
  font-weight: bold;
}
:-ms-input-placeholder { /* IE 10+ */
  color: black;
  font-weight: bold;
}
:-moz-placeholder { /* Firefox 18- */
  color: black;
  font-weight: bold;
}

.hoverColorTransition {
  transition: color 0.4s ease;
}

p#errorHandling {
  display: none;
  width: 60%;
  height: auto;
  margin: 0 auto;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  background-color: red;
  color: white;
}

section#stockInfo {
  padding: 10px;
  width: 100%;
  font-family: sans-serif;
  z-index: 999;
  display: block;
  color: black;
  margin: 10px 0 0 0;
}

section#stockInfo section {
  width: 75%;
  margin: 0 auto;
}


h1.stock-info {
  margin-bottom: 10px;
}

div.hLine {
  border-bottom: 2px solid black;
  margin: 0 10px;
  box-sizing: border-box;
  display: none;
}

a#viewHistory {
  text-align: center;
  text-decoration: none;
  display: none;
  margin-top: 20px;
  font-weight: bold;
  color: green;
}

div#test {
  margin: 10px auto;
  display: none;
}

div#chartContainer {
  width: 75%;
  height: 500px;
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
}

 p.footerText {
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  padding: 0 0 5px 0;
  color: black;
}

 p.footerText strong {
  font-weight: 700;
}

 p.footerText strong a {
  color: black;
  text-decoration: none;
}

 p.footerText strong a:hover {
  cursor: pointer;
  color: #006C23;
}

/*AJAX Loader*/

.cssload-container {
  width: 100%;
  height: 49px;
  text-align: center;
  display: none;
}

.cssload-speeding-wheel {
  width: 49px;
  height: 49px;
  margin: 0 auto;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  animation: cssload-spin 575ms infinite linear;
    -o-animation: cssload-spin 575ms infinite linear;
    -ms-animation: cssload-spin 575ms infinite linear;
    -webkit-animation: cssload-spin 575ms infinite linear;
    -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
  100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
  100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
  100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
  100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
  100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    div#test {
      display: block;
      position: absolute;
      top: 400px;
      right: 25%;
    }

    section#graphSection {
      display: none;
    }

    input#stockSym {
      width: 100%;
    }

    h1.stock-info {
      margin: 10px 0 0 0;
    }

    div.hLine {
      display: block;
    }

    p.footerText {
      display: none;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    section#graphSection {
      display: block;
      margin: -20px 0 0 0;
    }

    div#chartContainer {
      width: 95%;
      height: 250px;
    }

    section#stockInfo section {
      font-size: 12px;
      display: flex;
  }

    h1.stock-info {
      margin: 0 10px 0 0;
  }

  p.footerText {
    display: none;
  }
}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    div#test {
      display: block;
      position: absolute;
      top: 400px;
      right: 25%;
    }

    section#graphSection {
      display: none;
    }

    input#stockSym {
      width: 100%;
    }

    h1.stock-info {
      margin: 10px 0 0 0;
    }

    div.hLine {
      display: block;
    }

    p.footerText {
      display: none;
    }
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    section#graphSection {
      display: block;
      margin: -20px 0 0 0;
    }

    div#chartContainer {
      width: 95%;
      height: 250px;
    }

    section#stockInfo section {
      font-size: 12px;
      display: flex;
  }

    h1.stock-info {
      margin: 0 10px 0 0;
  }

  p.footerText {
    display: none;
  }
}

/* ----------- iPhone 6 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    div#test {
      display: block;
      position: absolute;
      top: 400px;
      right: 25%;
    }

    section#graphSection {
      display: none;
    }

    input#stockSym {
      width: 100%;
    }

    h1.stock-info {
      margin: 10px 0 0 0;
    }

    div.hLine {
      display: block;
    }

    p.footerText {
      display: none;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    section#graphSection {
      display: block;
      margin: -20px 0 0 0;
    }

    div#chartContainer {
      width: 95%;
      height: 250px;
    }

    section#stockInfo section {
      font-size: 12px;
      display: flex;
  }

    h1.stock-info {
      margin: 0 10px 0 0;
  }

  p.footerText {
    display: none;
  }
}

/* ----------- iPhone 6+ ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    div#test {
      display: block;
      position: absolute;
      top: 400px;
      right: 25%;
    }

    section#graphSection {
      display: none;
    }

    input#stockSym {
      width: 100%;
    }

    h1.stock-info {
      margin: 10px 0 0 0;
    }

    div.hLine {
      display: block;
    }

    p.footerText {
      display: none;
    }

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    section#graphSection {
      display: block;
      margin: -20px 0 0 0;
    }

    div#chartContainer {
      width: 95%;
      height: 250px;
    }

    section#stockInfo section {
      font-size: 12px;
      display: flex;
  }

    h1.stock-info {
      margin: 0 10px 0 0;
  }

  p.footerText {
    display: none;
  }
}